{#-
  Template to generate a Proxmox VE firewall [RULES] block. To be called
  from other templates files: {% include 'firewall/_rules_block.j2' %}

  Expects an 'fw_rules' variable.
-#}
{% if fw_rules is defined and fw_rules | ansible.builtin.length > 0 %}
[RULES]
{%   for rule in fw_rules %}
{%     include 'firewall/_rule_line.j2' %}
{%   endfor %}
{% else %}
# No [RULES] defined
{% endif %}