# {{ ansible_managed }}
# PVE cluster / datacenter-wide firewall configuration
# Includes: options, aliases, IP sets, security groups, rules
# Reference: https://pve.proxmox.com/wiki/Firewall

{# Normalize and/or validate input #}
{%- set fw_options = tpl_fw_options | default({}, true) -%}
{%- set fw_aliases = tpl_fw_aliases | default([], true) -%}
{%- set fw_ipsets = tpl_fw_ipsets | default([], true) -%}
{%- set fw_securitygroups = tpl_fw_securitygroups | default([], true) -%}
{%- set fw_rules = tpl_fw_rules | default([], true) -%}

{# Cluster-wide firewall options #}
{% include 'firewall/_options_block.j2' %}

{# Cluster-wide aliases (speakable, stable alias names for IP addresses and networks) #}
{% include 'firewall/_aliases_block.j2' %}

{# Cluster-wide IP sets (reusable collection of IP addresses and networks, referenced by rules) #}
{% include 'firewall/_ipsets_block.j2' %}

{# Cluster-wide Security group (reusable collection of IP addresses and networks, referenced by rules) #}
{% include 'firewall/_groups_block.j2' %}

{# Cluster-wide firewall rules #}
{% include 'firewall/_rules_block.j2' %}