# {{ ansible_managed }}
# PVE VM/Container-specific firewall configuration for ID {{ vmid }}
# Includes: options, aliases, IP sets, rules
# Reference: https://pve.proxmox.com/wiki/Firewall

{# VM/Container-specific firewall options #}
{% include 'firewall/_options_block.j2' %}

{# VM/Container-specific aliases (speakable, stable alias names for IP addresses and networks) #}
{% include 'firewall/_aliases_block.j2' %}

{# VM/Container-specific IP sets (reusable collection of IP addresses and networks, referenced by rules) #}
{% include 'firewall/_ipsets_block.j2' %}

{# VM/Container-specific firewall rules #}
{% include 'firewall/_rules_block.j2' %}