# Default variables and values for this role.
#
# These variables are designed to be easily overridden (as they have a low
# precedence) and typically allow users to customize the role's behavior.
# Each variable should have a clear comment above it, describing its purpose
# and how it fits into the role's functionality.

---

pve_proxmox_tmpbackupfiles: true

pve_proxmox_iommu_manage: true

pve_proxmox_net_ifaces_host_specific: {}

pve_proxmox_net_ifaces_host_shared: {}

pve_proxmox_net_ifaces_workload_shared: {}

pve_proxmox_net_ifaces_workload_specific: {}

pve_proxmox_fw_cluster_options: {}

pve_proxmox_fw_cluster_aliases: []

pve_proxmox_fw_cluster_ipsets: []

pve_proxmox_fw_node_options: {}

pve_proxmox_fw_node_rules: []
